@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #09162e;
}

.image-container {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
   
}

.image-before,
.image-after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-compare-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: ew-resize;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 100%;
    background: white;
    cursor: ew-resize;
}

.slider::-moz-range-thumb {
    width: 3px;
    height: 100%;
    background: white;
    cursor: ew-resize;
    border: none;
}

.slider-line {
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: white;
    z-index: 1;
    pointer-events: none;
}